<!DOCTYPE html>
<html>

<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>

</head>

<body>

    <div id="vueapp">

        <h1>School Club</h1>


        <button type="button" v-on:click="showcheckout">
            <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span> Checkout
        </button>





        <div v-if="showproduct">
            <div v-for="lesson in sortedlesson">
                <img v-bind:src="lesson.image" height="200" width="300">
                <p>Subject: {{ lesson.subject }}</p>
                <!--Get data from object using v-text-->
                <p>Location: {{ lesson.location }}</p>
                <!--Get data from object-->
                <p>Price: {{ lesson.price }}</p>
                <!--Get data from object-->
                <p>space: {{ lesson.space }}</p>
                <!--Get data from object-->



                <button v-on:click="additem(lesson.id)" v-if="canaddtocart">Add
                    to cart</button>
                <button disabled="true" v-else>Add to cart</button>
                <span v-if="lesson.space === cartCount(lesson.id)">All Out!
                </span>
                <span v-else-if="lesson.space - cartCount(lesson.id) < 5">
                    Only {{lesson.space - cartCount(lesson.id)}} left
                </span>
                <span v-else>Buy Now!
                </span>
                <div>
                    <span v-for='n in lesson.rating'>★
                    </span>
                    <span v-for='n in 5-lesson.rating'>☆</span>
                </div>




            </div>

        </div>

        <div v-else>
            <h1>School club checkout</h1>
            <h4>
                <strong>Enter Your Information</strong>
            </h4>



            <strong>First Name:</strong>
            <input v-model.trim="order.firstName" class="form-control" />


            <strong>Last Name:</strong>
            <input v-model.trim="order.lastName" class="form-control" />



            <strong>Address:</strong>


            <input v-model.trim="order.address" class="form-control" />


            <strong>City:</strong>

            <input v-model.trim="order.city" class="form-control" />


            <strong>State:</strong>
            <select v-model="order.state" class="form-control">
                <option disabled value="">State</option>
                <option v-for="(state, key) in states" v-bind:value="state">
                    {{ key }}
                </option>
            </select>

            <strong>Zip / Postal Code:</strong>
            <input v-model.number="order.zip" class="form-control" type="number" />


            <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift"
                v-bind:false-value="order.dontSendGift" v-model="order.gift">
            <label for="gift">Ship As Gift?</label>

            <!-- end of form-group -->

            <input type="radio" id="home" v-bind:value="order.home" v-model="order.method">
            <label for="home">Home</label>
            <input type="radio" id="business" v-bind:value="order.business" v-model="order.method">
            <label for="business">Business</label>

            <!-- end of form-group-->

            <button type="submit" v-on:click="submitForm">Place
                Order</button>

            <!-- end of form-group-->

            <pre>
                                        First Name: {{ order.firstName }}
                                        Last Name: {{ order.lastName }}
                                        Address: {{ order.address }}
                                        City: {{ order.city }}
                                        Zip: {{ order.zip }}
                                        State: {{ order.state }}
                                        Method: {{ order.method }}
                                        Gift: {{ order.gift }}
                                    </pre>

        </div>
    </div>
</body>

<script src="/lesson.js"></script>

<script src="/index1.js"></script>







</html>