<!Doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title> Subject Details</title>
     <link rel="stylesheet" href="style.css">
     <script src="../group-work/vue.js"></script><!-- Link to JS File-->


</head>
<!-- content here-->

<body>
     <div id="body">

          <div id="app">
               <div v-if='showproduct'>
                    <div v-for="lesson in lesson">
                         <h1 v-text="lesson.subject"></h1>
                         <img v-bind:src="lesson.image">
                         <p>Subject: {{lesson.subject}}</p><!-- Get data from object using v-text-->
                         <p>Location: {{lesson.location}}</p><!-- Get data from object-->
                         <p>Id: {{lesson.id}}</p><!-- Get data from object-->
                         <p>Price: {{lesson.price}}</p><!-- Get data from object-->
                         <p>space: {{lesson.stock}}</p><!-- Get data from object-->
                         <button type="button" value="add" v-on:click="additem" v-bind:disabled="isDisabled">Add
                              To Cart</button>


                    </div>
               </div>
          </div>
     </div>

     <script src="../group-work/lessons.js"></script><!-- Link to JS File-->
     <script src="../group-work/index.js"></script><!-- Link to JS File-->
     <script src="../group-work/vue.js"></script><!-- Link to JS File-->




</body>